<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Painel Admin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Painel Administrativo</h1>
    <a href="{{ url_for('logout') }}">Sair</a>
    <h2>Estagiários</h2>
    <ul>
        {% for e in estagiarios %}
            <li>{{ e.nome }} - {{ e.email }}</li>
        {% endfor %}
    </ul>
    <h2>Empresas</h2>
    <ul>
        {% for e in empresas %}
            <li>{{ e.nome_empresa }} - {{ e.email }}</li>
        {% endfor %}
    </ul>
</body>
</html>