
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Estagiário</title>
</head>
<body>
    <h1>Cadastro de Estagiário</h1>
    <form method="post">
        <label>Nome:</label><input type="text" name="nome"><br>
        <label>Email:</label><input type="email" name="email"><br>
        <label>Curso:</label><input type="text" name="curso"><br>
        <label>Soft Skills:</label><br>
        <input type="checkbox" name="soft_skills" value="Comunicação"> Comunicação<br>
        <input type="checkbox" name="soft_skills" value="Trabalho em equipe"> Trabalho em equipe<br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>
