<!-- templates/portal_empresa.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Portal da Empresa</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <header class="navbar">
    <h1 class="logo">ITpraTI</h1>
    <nav>
      <a href="/">Início</a>
    </nav>
  </header>
  <div class="form-container">
    <h2>Portal da Empresa</h2>
    <p>Você já tem cadastro?</p>
    <a href="/login-empresa" class="btn">Fazer Login</a>
    <p>Ainda não é cadastrada?</p>
    <a href="/formulario-empresa" class="btn">Cadastrar-se</a>
  </div>
</body>
</html>
